apiVersion: 1

datasources:
  # Loki — контейнер в Docker-сети monitoring
  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: false
