apiVersion: 1

datasources:
  # Loki будет добавлен в Задании 5 — datasource уже готов
  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: false
